/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

#container{
    display: grid;
    grid-template-columns: minmax (1100px, 1500px)
}
.header{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    position: sticky; 
    top: 0px;

}
.header_logotipo{
    grid-column: 2/3;
}

.header_picture, .imagenbanner{
    grid-column: 1/5;
    height: 300px;
    height: 300px; 
    width: 100vw; 
    
}

.main{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;

}

.main__imagenesDisfraz{
    grid-column: 2/4;
   
  
}
.imagenesDisfraz{
    width: 300px;
    height: 300px;
    margin: 50px;
    box-shadow: 10px 10px rgb(238, 240, 237);
}
/* .imagenesDisfraz:hover{
    box-shadow: 10px 10px rgb(198, 238, 177);
    z-index: 2;

} */
.p{
    grid-column: 2/4;
    text-align: center 
}

form{
    grid-column: 2/3;
}