/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

#container{
    display: grid;
    grid-template-columns: minmax (1100px, 1500px)
}
.header{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    

}
.header_logotipo{
    grid-column: 2/3;
}

.header_picture, img{
    grid-column: 1/5;
    height: 300px;
    height: 300px; 
    width: 100vw; 
}