/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

html{
    background-color: #ffffff;
    font-size: sans-serif;
    font-family: 16px;
}
.header{
    background-color: rgb(247, 250, 255);
    box-shadow: 10px 10px 5px grey;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.nav__menu{
        padding: 10px;
        width: 100px;
        height: 20px;
        text-decoration: none;
        color: grey;
        border-radius:0px;
        text-align: center;

}
.nav__menu--color::first-letter{
    color: grey;
    text-decoration: underline;
}
.nav__menu:hover{
        padding: 10px;
        background-color: rgba(188, 185, 190, 0.274);
        border: 1px snow rgb(219, 209, 209);
        border-radius:10px;
        z-index: 2;  
        box-shadow: 10px solid black;
}

.nav__menu--color{
    padding: 10px;
    background-color: rgba(188, 185, 190, 0.274);
    border: 1px snow rgb(219, 209, 209);
    border-radius:10px;
    z-index: 2;  
    box-shadow: 10px solid black;
    color: grey;
    text-decoration: none;
}
